<nav class="bg-green-700">
    <div class="mx-auto px-2">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto" src="https://images.vexels.com/content/142904/preview/plant-circle-logo-052d49.png" alt="Your Company">
          </div>

          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a routerLink="/meteo" class="rounded-md bg-green-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Meteo</a>
              <a routerLink="/plantation" class="rounded-md px-3 py-2 text-sm font-medium text-green-300 hover:bg-green-600 hover:text-white">Plantation</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>